name: bird-pam
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - numpy
  - pandas
  - pip
  - pytorch
  - torchaudio
  - torchvision
  - scikit-learn
  - matplotlib
  - seaborn
  - tqdm
  - pyyaml
  - pip:
      - librosa==0.10.1
      - soundfile==0.12.1
      - mlflow==2.9.2
      - audiomentations==1.4.0
